 <div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://www.instagram.com/graille_lyon/"><i class="fa fa-instagram"></i></a>
    <a target="_blank" href="https://www.pinterest.fr/thebikeriser/graille-lyon/"><i class="fa fa-pinterest"></i></a>
    <a target="_blank" href="https://www.facebook.com/graillesolidaire/"><i class="fa fa-facebook"></i></a>
    <a target="_blank" href="https://vimeo.com/showcase/7348662"><i class="fa fa-vimeo"></i></a>


    <!-- <a target="_blank" href="https://join.slack.com/t/three-startuping/shared_invite/enQtMzEwNTQyMzUxOTI3LTA1N2M0YjdhZWFhOGY4YjhmOThmMDQ5OGQyZjk3OTI3OGVmNmI0OTI5MzdiYTVjNmVlZmZkMjNjNDAwOGM0YTA"><i class="fa fa-slack"></i></a> -->

    <a target="_blank" href="https://github.com/AllanBallester/Sheepy"><i class=""></i></a>
     <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
     <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>


  </div>

  <div class="footer-copyright hidden-xs center">
    <p> Copyright © 2020, Graille Lyon, Tous droits réservés<p>
  </div>

  <div class="fb-like" data-href="https://www.facebook.com/graillesolidaire/" data-width="" data-layout="button" data-action="like" data-size="small" data-share="true"></div>

</div>
