 <div class="footer">
  <div class="footer-links">
    <a target="_blank" href="https://www.facebook.com/decathlives/"><i class=""></i></a>
    <a target="_blank" href="https://www.instagram.com/decathlives/?hl=en"><i class=""></i></a>
    <a target="_blank" href="https://www.linkedin.com/company/tepee-pro-couchsurfing/"><i class=""></i></a>
    <a target="_blank" href="https://www.youtube.com/channel/UC8FzcDcUonfegKt6NZ5yQAg"><i class=""></i></a>


    <!-- <a target="_blank" href="https://join.slack.com/t/three-startuping/shared_invite/enQtMzEwNTQyMzUxOTI3LTA1N2M0YjdhZWFhOGY4YjhmOThmMDQ5OGQyZjk3OTI3OGVmNmI0OTI5MzdiYTVjNmVlZmZkMjNjNDAwOGM0YTA"><i class="fa fa-slack"></i></a> -->

    <a target="_blank" href="https://github.com/AllanBallester/Sheepy"><i class=""></i></a>
     <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
     <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
     <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
    <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
    <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>
        <a target="_blank" href="https://github.com/AllanBallester/Three"><i class=""></i></a>




<div class= "hidden-xs hidden-md">

</div>


  </div>

  <div class="footer-copyright hidden-xs">
    <p> Copyright © 2018, Cheat, All Rights Reserved <p>
  </div>
</div>
