<div class= "banner middle-pic" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/dk9kkvy1o/image/upload/v1598465842/GrailleLyon-15_ahvmgk.jpg');">
  <div class="banner-content">
    <h1></i> </h1>
    <p class="big p space"> Cuisine Vegan Anti-Gaspi et Solidaire.</p>
    <a class = "btn btn-yours" a href="https://linktr.ee/graillelyon" target="blank"> </i> Participer </a> </button>
  </div>
</div>

<div class="container" id="home-giders">
  <div class="row">
    <iframe src="https://player.vimeo.com/video/450886047" width="380" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen ></iframe>
  <iframe src="https://player.vimeo.com/video/439909555" width="380" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen class= "hidden-xs"></iframe>
  <iframe src="https://player.vimeo.com/video/438613789" width="380" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen class= "hidden-xs hidden-md"></iframe>
  </div>

</div>
